{% extends 'base.html.twig' %}

{% block title %}Billeterie{% endblock %}

{% block h1 %}BILLETERIE{% endblock %}

{% block entete %}
    <form method="" action="">
        <div class="searchbar">
            <input type="search" placeholder="Rechercher" id="searchbar" />
            <button id="loupe" type="submit"><img src=" {{ asset('img/svg/searchIcon.svg') }}" alt="Rechercher"></button>
        </div>
    </form>
{% endblock %}


{% block affichagPrincipale %}

    <section class="manifestations">
        {% for el in manifs %}
        <div class="manifs-card">
            <div class="manifs-affiche"><img src='{{ asset("uploads/manifs/#{el.manifAffiche}") }}' alt="affiche"></div>
            <div class="manifs-data">
                <div class="card-infos">
                    <p>{{ el.manifTitre }}</p>
                    <p>{{ el.manifDate }}</p>
                    <p>{{ el.manifHeure }}</p>
                </div>
                <div class="card-infos2">
                    <p><i class="fa-solid fa-location-dot"></i> {{ el.getLieuId.getLieuNom }}</p>
                    <p>{{ el.manifPrix }} €</p>
                </div>
                <div class="card-infos-bt">
                    <!--<p class="genre-i">{{ el.getGenreId.getGenreTitre }}</p>-->
                    <a href="billeterie/{{el.Id}}" class="resButton">DETAILS</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

    <!--
    <div class="popupbox">
        <div class="popupcontainer">
            <button class="pop-cross">hide popup</button>
            <div id="popcontent">

            </div>
        </div>
    </div>
    -->
{% endblock %}
