{% extends 'base.html.twig' %}

{% block title %}Billeterie{% endblock %}

{% block h1 %}BILLETERIE{% endblock %}

{% block entete %}
    <form method="" action="">
        <div class="searchbar">
            <input type="search" placeholder="Rechercher" id="searchbar" />
            <button id="loupe" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script defer>
        window.addEventListener('load', () => { // le dom est chargé

            const manifB = document.querySelectorAll('.resButton')

            manifB.forEach(function (button) {
                button.addEventListener('click', function(event){
                    console.log("WORKING AS INTENDED UPTILL HERE")
                    id = event.target.id; //récup id du bouton cliqué
                    console.log(id)
                    fetch("{{path('app_bringId')}}/?id="+id)
                        .then(function(response) {
                            return response.blob();
                        })
                        .then(function(myBlob) {
                            console.log(myBlob)
                            var objectURL = URL.createObjectURL(myBlob);
                            data = objectURL;
                            console.log(data)

                            document.getElementById('popcontent').innerHTML=data
                        });



                })
            })
        })

    </script>
    {% endblock %}

{% block affichagPrincipale %}

    <section class="manifestations">
        {% for el in manifs %}

        <div class="manifs-card">
            <div class="manifs-affiche"><img src='{{ asset("uploads/manifs/#{el.manifAffiche}") }}' alt="affiche"></div>
            <div class="manifs-data">
                <div class="card-infos">
                    <p>{{ el.manifTitre }}</p>
                    <p>{{ el.manifDate }}</p>
                    <p>{{ el.manifHeure }}</p>
                </div>
                <div class="card-infos2">
                    <p>{{ el.getLieuId.getLieuNom }}</p>
                    <p>{{ el.manifPrix }} €</p>
                </div>
                <div class="card-infos-bt">
                    <a href="#" class="resButton" id="{{ el.id }}">DETAILS</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

    <div class="popupbox">
        <div class="popupcontainer">
            <button class="pop-cross">hide popup</button>
            <div id="popcontent">

            </div>
        </div>
    </div>
{% endblock %}
