{% extends 'base.html.twig' %}

{% block title %}Billeterie{% endblock %}

{% block h1 %}BILLETERIE{% endblock %}

{% block entete %}
    <form method="" action="">
        <div class="searchbar">
            <input type="search" placeholder="Rechercher" id="searchbar" />
            <button id="loupe" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
{% endblock %}

{% block affichagPrincipale %}
    <section class="cards">
        {% for el in manifs %}
        <div class="manifs-card">
            <div class="affiche"><img src='{{ asset("uploads/#{el.manifAffiche}") }}' alt="affiche"></div>
            <div class="manifs-data">
                <div class="card-infos">
                    <p>{{ el.manifTitre }}</p>
                    <p>LA DATE</p>
                    <p>{{ el.manifHeure }}</p>
                </div>
                <div class="card-infos2">
                    <p>{{ el.getLieuId.getLieuNom }}</p>
                    <p>{{ el.manifPrix }} €</p>
                </div>
                <div class="card-infos-bt">
                    <a href="#">CONSULTER L'EVENEMENT</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}
