{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block h1 %}Inscription{% endblock %}

{% block affichagPrincipale %}

    <div class="registration_form">
        <div class="illustration-box">
            <img src="{{ asset('img/svg/register.svg') }}" alt="login illustration">
        </div>
    {{ form_start(registrationForm)}}
        <div class="input-box">
            <h2 class="login-title">Créer votre compte</h2>

                {{ form_row(registrationForm.client_email, {
                    label: 'Email *'
                }) }}

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe *'
                }) }}

            <p class="terms">Veuillez lire et accepter nos <a href="">Conditions</a> et notre <a href="">Politique de confidentialité</a> avant de vous inscrire. </p>

            {{ form_row(registrationForm.agreeTerms, { label: 'Accepter'}) }}

            <button type="submit" class="btn">S'incrire</button>

            <p class="sign">Vous avez déjà un compte ? <a href="{{ path('app_login') }}"> Connectez-vous </a></p>

        </div>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
