{% extends 'base.html.twig' %}

{% block title %}Nos Salles{% endblock %}

{% block h1 %}Nos salles à Roubaix{% endblock %}

{% block affichagPrincipale %}

    <section class="lieux">
        {% for salle in sallestab %}
            <div class="salles-card">
                <div class="salles-affiche"><img src='{{ asset("uploads/lieux/#{salle.lieuAffiche}") }}' alt="affiche {{ salle.lieuNom }}"></div>
                <div class="salles-data">
                    <h2>{{ salle.lieuNom }}</h2>
                    <p>{{ salle.lieuCapacite }} places disponibles</p>
                    <a href="salles/{{salle.Id}}">Voir les évènements</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
