<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- meta description -->
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <!-- Styles -->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

        <!-- Javascript -->
        <script src="{{ asset('js/scriptgeneral.js') }}" defer></script>
        <script src="{{ asset('js/scriptpagearticles.js') }}" defer></script>
        <script src="{{ asset('js/scriptpanier.js') }}" defer></script>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <img src="{{ asset('img/logo.png') }}" alt="Roubaix culture" class="logoNav">
                <div class="navbar main-nav">
                    <ul>
                        <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
                        <li><a href="{{ path('app_billeterie') }}">Billeterie</a></li>
                        <li><a href="{{ path('app_salles') }}">Nos Salles</a></li>
                    </ul>
                </div>
                <div class="navbar user-nav">
                    <ul>
                        <li><a href="{{ path('app_profil') }}"><img src="{{ asset('img/svg/accountIcon.svg') }}" alt="Mon compte" class="menuIcon"></a></li>
                        <li><a href="{{ path('app_panier') }}"><img src="{{ asset('img/svg/cartIcon.svg') }}" alt="Panier" class="menuIcon"><span id="panier"></span></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="entete">
            <div class="ln-entete">
                <div>
                    <h1>{% block h1 %}TITRE DE LA PAGE{% endblock %}</h1>
                </div>
                <div>
                    {% block entete %}{% endblock %}
                </div>
            </div>
            <div class="trait"></div>
        </div>

        <main>
            {% block affichagPrincipale %}{% endblock %}
        </main>
        {% block ssSection %}{% endblock %}

        <footer>
            <div class="liens">
                <ul>
                    <li><a href="#">CGU</a></li>
                    <li><a href="#">Mentions Légales</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Politique de Confidentialitées</a></li>
                </ul>
            </div>
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                <a href="#"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                <a href="#"><i class="fa-brands fa-twitter fa-2xl"></i></a>
            </div>
            <p>© Copyright. Tous droits réservés. 2022 - Ville de Roubaix. </p>
        </footer>
    </body>
</html>
